#####################################################
####                CALIBRATING Z                ####
#####################################################
[led_effect sb_logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)
        
[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    set_nozzle_leds_on

#####################################################
####                  LEVELING                   ####
#####################################################
[led_effect sb_logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)
        
[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    set_nozzle_leds_on

#####################################################
####                   MESHING                   ####
#####################################################
[led_effect sb_logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)
        
[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    set_nozzle_leds_on