#####################################################
####                  CLEANING                   ####
#####################################################
[led_effect sb_logo_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)
    
[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    set_nozzle_leds_on

#####################################################
####                   COOLING                   ####
#####################################################
[led_effect sb_logo_cooling]
leds:
    neopixel:sb_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect sb_nozzle_cooling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)
        
[gcode_macro status_cooling]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1,3,7,8,6,2)"
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling

#####################################################
####                   HEATING                   ####
#####################################################
[led_effect sb_logo_heating]
leds:
    neopixel:sb_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect sb_nozzle_heating]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1,3,7,8,6,2)"
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_heating


#####################################################
####                   RAINBOW                   ####
#####################################################
[led_effect rainbow]
leds:
    neopixel:sb_leds (1-8)
    neopixel:left_case_leds
    neopixel:right_case_leds
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)


[led_effect rainbow_case]
leds:
    neopixel:left_case_leds
    neopixel:right_case_leds
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect rainbow_sb]
leds:
    neopixel:sb_leds (1-8)
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

#####################################################
####                   DISPLAY                   ####
#####################################################
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
       # SET_LED LED=mini12864_led RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0   # Backlit Screen colour
       # SET_LED LED=mini12864_led RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0   # Top left Knob colour
       # SET_LED LED=mini12864_led RED=1 GREEN=0 BLUE=0 INDEX=3              # Bottom right knob colour

       SET_LED_STATE STATE="display"