#####################################################
####                    BUSY                     ####
#####################################################
[led_effect sb_logo_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    breathing  3 1 top (1,0,0)
    
[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    SET_LED_EFFECT EFFECT=sb_logo_busy
    set_nozzle_leds_on

#####################################################
####                   ERRORS                    ####
#####################################################
[led_effect sb_critical_error]
leds:
    neopixel:sb_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[gcode_macro _LED_PRINT_ERROR]
description: LED State after a print error.
gcode:
    SET_LED_STATE STATE="error"

#####################################################
####                   STANDBY                   ####
#####################################################
[led_effect sb_logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect sb_nozzle_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

[delayed_gcode _RETURN_LED_TO_STANDBY]
initial_duration: 0
gcode:
    _LED_STANDBY
    TURN_OFF_PROG_LEDS

[gcode_macro _LED_STANDBY]
description: LED State when printer on and after configured print end/cancel time.
gcode:
    SET_EFFECT EFFECT=rainbow_case
    SET_EFFECT EFFECT=rainbow_sb
    SET_LED_STATE STATE=standby

[extended_macro _LED_SB_STANDBY]
gcode:
    SET_LED_EFFECT EFFECT=rainbow
    SET_LED LED=sb_leds WHITE=1 INDEX=9 TRANSMIT=0
    SET_LED LED=sb_leds WHITE=1 INDEX=10 TRANSMIT=1
#####################################################
####                    READY                    ####
#####################################################
[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:sb_leds (1-8)"
    STOP_LED_EFFECTS LEDS="neopixel:left_case_leds"
    STOP_LED_EFFECTS LEDS="neopixel:right_case_leds"
    SET_LED_EFFECT EFFECT=rainbow_case
    SET_LED_EFFECT EFFECT=rainbow_sb
    
#####################################################
####                IDLE TIMEOUT                 ####
#####################################################
[gcode_macro _LED_IDLE_TIMEOUT]
description: LED State during Idle Timeout.
gcode:
    SET_LED_STATE STATE="idle"

[gcode_macro _LED_IDLE_BLINK_ON]
gcode:
    SET_LED_STATE STATE="idle_blink"

[gcode_macro _LED_IDLE_BLINK_OFF]
gcode:
    SET_LED_STATE STATE="idle_off"

[gcode_macro _IDLE_LEDS_CONF]
variable_set = 'off'
gcode = 

[delayed_gcode _LED_IDLE_BLINK]
initial_duration = 0
gcode = 
	{% set current_state = printer['gcode_macro _IDLE_LEDS_CONF'].set %}
	{% if set =='off' %}
	_LED_IDLE_BLINK_ON
	SET_GCODE_VARIABLE MACRO=set VALUE='on'
	{% else %}
	_LED_IDLE_BLINK_OFF
	SET_GCODE_VARIABLE MACRO=set VALUE='off'
	{% endif %}
	UPDATE_DELAYED_GCODE ID=_LED_IDLE_BLINK DURATION=0.25